{
  "host": "0.0.0.0",
  "port": {{ fake_app_port }},
  "pg": {
    "driver": "pg",
    "database": "{{ fake_app_db }}",
    "user": "{{ fake_app_db_user }}",
    "password": "{{ fake_app_db_password }}",
    "host": "{{ fake_app_db_host }}"
  }
}
