input {
  lumberjack {
    port => {{ logstash_listen_port }}
    ssl_certificate => "{{ ssl_cert_directory }}/{{ ssl_cert }}"
    ssl_key => "{{ ssl_cert_directory }}/{{ ssl_key }}"
  }
}
filter {

}
output {
  elasticsearch {
    bind_host => "{{ logstash_bind_host }}"
    host => {{ logstash_elasticsearch_host }}
  }
}
